@page
@model LockoutModel
@{
    ViewData["Title"] = "Blocked";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger"> User blocked, please contact to administrator.</p>
</header>
